<div class="container">
    <div class="tab-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" id="page-setup" data-toggle="tab" [routerLink]="['page-setup']" role="tab" aria-controls="page setup"
                    aria-selected="false">Page Setup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" id="home-tab" data-toggle="tab" [routerLink]="['regions']" role="tab" aria-controls="home"
                    aria-selected="true">Regions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" id="profile-tab" data-toggle="tab" [routerLink]="['widgets-list']" role="tab" aria-controls="profile"
                    aria-selected="false">Widgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" id="contact-tab" data-toggle="tab" [routerLink]="['code-generator']" role="tab" aria-controls="contact"
                    aria-selected="false">Code Generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" id="widget-converter" data-toggle="tab" [routerLink]="['widget-converter']" role="tab" aria-controls="contact"
                    aria-selected="false">Widget Converter</a>
            </li>
        </ul>
        <button class="btn btn-primary reset-regions" (click)="openResetModal(template)" >reset regions</button>
    </div>
    <div class="tab-content" id="myTabContent">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Are you sure you want to reset?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="modal-cta-container">
            <button class="btn btn-primary" (click)="resetRegions()" >Yes</button>
            <button class="btn btn-primary" (click)="modalRef.hide()" >No</button>
        </div>
    </div>
  </ng-template>