.tab-header {
    position: relative;
}
.reset-regions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.img-logo {
    max-width: 100px;
    margin-bottom: 40px;
}
.tab-content {
    padding: 24px 0;
}
