<div class="code-generator-contaier">
    <h4 class="primary-builder-title">HTML Builder</h4>
    <div contenteditable="true" class="html-text-input" rows="25" cols="100">
        <html-generator [customRegions] = "customRegions"></html-generator>
    </div>
    <div class="css-builder-container">
        <div class="desktop-builder">
            <h4 class="secondary-builder-title">
                Desktop Css
            </h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <css-generator [customRegions] = "customRegions"></css-generator>
            </div>
        </div>
        <div class="mobile-builder">
            <h4 class="secondary-builder-title">
                Mobile Css
            </h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <css-mobile-generator [customRegions]="customRegions"></css-mobile-generator>
            </div>
        </div>
    </div>
    <h4 class="primary-builder-title">JS Builder</h4>
    <div contenteditable="true" class="html-text-input" rows="25" cols="100">
        <js-generator [customRegions] = "customRegions"></js-generator>
    </div>
</div>