<div class="code-generator-contaier">
    <ul class="nav nav-tabs ">
        <li class="active nav-item">
            <a class="nav-link active" href="#tab_default_1" data-toggle="tab">
                Html</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_2" data-toggle="tab">
                Header</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_3" data-toggle="tab">
                Css </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_4" data-toggle="tab">
                Mobile Css </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_5" data-toggle="tab">
                Js </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_6" data-toggle="tab">
                Function </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab_default_7" data-toggle="tab">
                Html Widget </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
            <h4 class="primary-builder-title">HTML Builder</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <html-generator [customRegions]="customRegions"></html-generator>
            </div>
        </div>
        <div class="tab-pane" id="tab_default_2">
            <h4 class="primary-builder-title">Header Builder</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <header-generator [customRegions]="customRegions" [pageSettings]="pageSettings"></header-generator>
            </div>
        </div>
        <div class="tab-pane" id="tab_default_3">
            <div class="css-builder-container">
                <div class="desktop-builder">
                    <h4 class="secondary-builder-title">
                        Desktop Css
                    </h4>
                    <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                        <css-generator [customRegions]="customRegions" [pageSettings]="pageSettings"></css-generator>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_default_4">
            <div class="mobile-builder">
                <h4 class="secondary-builder-title">
                    Mobile Css
                </h4>
                <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                    <css-mobile-generator [customRegions]="customRegions"></css-mobile-generator>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_default_5">
            <h4 class="primary-builder-title">JS Builder</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <js-generator [customRegions]="customRegions" [pageSettings]="pageSettings"></js-generator>
            </div>

        </div>
        <div class="tab-pane" id="tab_default_6">
            <h4 class="primary-builder-title">Function Builder</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <function-generator [customRegions]="customRegions" [pageSettings]="pageSettings"></function-generator>
            </div>
        </div>
        <div class="tab-pane" id="tab_default_7">
            <h4>HTML Widget</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
                <html-widget-generator [customRegions]="customRegions" [pageSettings]="pageSettings">
                </html-widget-generator>
            </div>
        </div>
    </div>





</div>