<pre>
/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (max-width: 1450px){{' {'}}
/* 1367 */
/*#region Global */
/*#endregion Global */
<div *ngFor="let region of customRegions; let i = index">
    /*#region {{region[1]['region_name'] }} */ <br>
    /*#endregion {{region[1]['region_name'] }} */<br>&nbsp;
</div>
.hp-quick-search .region-quick-search-container {{' {'}}
    padding: 42px 24px 50px;
}
/*#region Footer */
/*#endregion Footer */
/*#region Fixed smi */
/*#endregion Fixed smi */
{{'}'}}

@media only screen and (max-width: 1366px){{' {'}}
/*#region Global */
/*#endregion Global */
<div *ngFor="let region of customRegions; let i = index">
    /*#region {{region[1]['region_name'] }} */ <br>
    /*#endregion {{region[1]['region_name'] }} */<br>&nbsp;
</div>
/*#region Footer */
/*#endregion Footer */
/*#region Fixed smi */
/*#endregion Fixed smi */
{{'}'}}

@media only screen and (min-width: 992px){{' {'}}
/*#region Global */
/*#endregion Global */
<div *ngFor="let region of customRegions; let i = index">
    /*#region {{region[1]['region_name'] }} */ <br>
        <app-grid-section [region]="region"></app-grid-section>
        <div *ngIf="!region[1]['region_sections']['primary_section']">
            <div *ngIf="region[1]['region_widgets']">
                <div *ngFor="
            let widget of RegionsService.converObjectToArray(
                region[1]['region_widgets']
            );
            let childIndex = index
            ">
                    <widget-list-mobile-css [region]="region" [widget]="widget" ></widget-list-mobile-css>
                </div>
            </div>
        </div>
        <div
    *ngFor="
      let regionChild of RegionsService.converObjectToArray(
        region[1]['region_sections']
      );
      let childIndex = index
    "
  >
  <div *ngIf="regionChild[1]['widgets']">
    <div
    *ngFor="
    let widget of RegionsService.converObjectToArray(
        regionChild[1]['widgets']
    );
    let childIndex = index
    "
    >
        <widget-list-mobile-css [region]="region" [widget]="widget" ></widget-list-mobile-css>
    </div>
  </div>
  
</div>

        
    /*#endregion {{region[1]['region_name'] }} */<br>&nbsp;
</div>
/*#region Footer */
/*#endregion Footer */
/*#region Fixed smi */
/*#endregion Fixed smi */
{{'}'}}

@media only screen and (max-width: 1199px){{' {'}}
/*#region Global */
/*#endregion Global */
<div *ngFor="let region of customRegions; let i = index">
    /*#region {{region[1]['region_name'] }} */ <br>
    /*#endregion {{region[1]['region_name'] }} */<br>&nbsp;
</div>
/*#region Footer */
/*#endregion Footer */
/*#region Fixed smi */
/*#endregion Fixed smi */
{{'}'}}

@media only screen and (min-width: 1130px) and (max-width: 1199px){{' {'}}{{'}'}}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px){{' {'}}

.pojo-ally-toolbar-toggle {{' {'}}
	display:none;
}

/* The following are used on inner pages. Please edit carefully. */
.aios-mobile-header-wrapper {{' {'}}
    z-index: 1020 !important;
}

.inner{{' {'}}
width: 100%;
{{'}'}}
#content-sidebar, #content-full{{' {'}}
width: 100%;
{{'}'}}
.outer{{' {'}}
width: 100%;
min-width: 100%;
{{'}'}}
#content-sidebar #content{{' {'}}
width: 100%;
{{'}'}}
{{'}'}}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px){{' {'}}
/* 481 */
.ip-banner .container{{' {'}}
width: 100%;
{{'}'}}
{{'}'}}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px){{' {'}}
/*#region Global */
/*#endregion Global */

/*#region Footer */
/*#endregion Footer */
/*#region Fixed smi */
/*#endregion Fixed smi */
{{'}'}}
</pre>