<pre>
&lt;!DOCTYPE html&gt;
&lt;html &lt;?php language_attributes(); ?&gt;&gt;
&lt;head&gt;
	&lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;
	&lt;meta charset="&lt;?php bloginfo( 'charset' ); ?&gt;" /&gt;
	&lt;meta id="viewport-tag" name="viewport" content="width=device-width, initial-scale=1"/&gt;
	&lt;title&gt;&lt;?php wp_title( '|', true, 'right' ); ?&gt;&lt;/title&gt;
	&lt;link rel="pingback" href="&lt;?php bloginfo( 'pingback_url' ); ?&gt;" /&gt;
	&lt;?php wp_head(); ?&gt;
&lt;/head&gt;
&lt;body &lt;?php body_class(); ?&gt;&gt;
	&lt;?php if ( has_action( 'aios_seotools_gtm_body' ) ) {{' {'}} do_action('aios_seotools_gtm_body'); } ?&gt;
	&lt;?php if ( !function_exists('dynamic_sidebar') || !dynamic_sidebar("Mobile Header") ) : ?&gt;&lt;?php endif ?&gt;

	&lt;div id="main-wrapper"&gt;


    &lt;?php do_action('aios_landing_page_header'); ?&gt;
    &lt;?php do_action('aios_neighborhoods_header'); ?&gt;


	&lt;header class="header"&gt;
		&lt;div class="header-container"&gt;
			&lt;div class="header-logo"&gt;
				&lt;a href="[blogurl]" aria-label="logo"&gt;
					&lt;div class="header-img"&gt;
						&lt;img
							alt="header"
							class="img-header"
							src="&lt;?php echo get_stylesheet_directory_uri() ?&gt;/images/header-logo.png" width="256" height="106"
						/&gt;
					&lt;/div&gt;
				&lt;/a&gt;
			&lt;/div&gt;
			&lt;nav class="navigation"&gt;
			<div *ngIf="PageService.enableHeaderContact">
				&lt;div class="header-contact"&gt;
					&lt;div class="header-phone"&gt;
						&lt;span class="ai-font-phone-o"&gt;&lt;/span&gt;
						&lt;?php echo do_shortcode('[ai_phone href="+1.240.475.1357"]240.475.1357[/ai_phone]')?&gt;
					&lt;/div&gt;
					&lt;div class="header-email"&gt;
						&lt;span class="ai-font-envelope-a"&gt;&lt;/span&gt;
						&lt;?php echo do_shortcode('[mail_to email="isdtemplate.com"]isdtemplate.com[/mail_to]')?&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			</div>
				&lt;?php wp_nav_menu( array( 'sort_column' =&gt; 'menu_order', 'menu_id' =&gt; 'nav', 'theme_location' =&gt; 'primary-menu' ) ); ?&gt;
			&lt;/nav&gt;
			<div *ngIf="PageService.enablePageBurgerMenu">
				&lt;!-- Burger Menu --&gt;
				&lt;div class="burger-menu is-active"&gt;
					&lt;span&gt;&lt;/span&gt;
					&lt;span&gt;&lt;/span&gt;
					&lt;span&gt;Menu&lt;/span&gt;
				&lt;/div&gt;
			</div>
		&lt;/div&gt;
	&lt;/header&gt;
	<div *ngIf="PageService.enablePageFloatingMenu">
		&lt;div class="floating-form-view hidden-sm hidden-xs"&gt;
			&lt;div class="floating-view-wrap floating-view"&gt;
				&lt;div class="floating-form--btn js-trigger-form"&gt;
					&lt;span class="floating-text"&gt;Mls Search&lt;/span&gt;
				&lt;/div&gt;
				&lt;div class="floating-body"&gt;
					&lt;div class="close-sidebar ai-font-close-a"&gt;
						&lt;span class="hidden"&gt;close&lt;/span&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="floating-form-drop floating-view"&gt;&lt;/div&gt;
	</div>
	<div *ngIf="PageService.enablePageBurgerMenu">
		&lt;!-- Burger Menu Content --&gt;
		&lt;div class="bm-menu bm-view"&gt;
			&lt;div class="bm-content" data-simplebar="init"&gt;
				&lt;div class="burger-navs"&gt;
					&lt;?php wp_nav_menu( array( 'sort_column' =&gt; 'menu_order', 'menu_id' =&gt; 'nav2', 'theme_location' =&gt; 'primary-menu' ) ); ?&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class="bm-drop bm-view"&gt;&lt;/div&gt;
	</div>
	&lt;main&gt;
		&lt;h2 class="aios-starter-theme-hide-title"&gt;Main Content&lt;/h2&gt;

		&lt;!-- ip banner goes here --&gt;
    &lt;?php
    if ( ! is_home() && !is_page_template( 'template-homepage.php' ) && is_custom_field_banner( get_queried_object() ) && is_active_sidebar('aios-inner-pages-banner')) {{' {'}}
      dynamic_sidebar('aios-inner-pages-banner');
    }
    ?&gt;
		&lt;!-- ip banner goes here --&gt;


		&lt;?php if ( !is_home() && !is_page_template( 'template-fullwidth.php' ) && !is_page_template( 'template-homepage.php' ) ) : ?&gt;

		&lt;div id="inner-page-wrapper"&gt;
			&lt;div class="container"&gt;

		&lt;?php endif ?&gt;
	</pre>
