(function (){{' {'}}
    var app ={{' {'}}
        initAos: function (){{' {'}}
            setTimeout(function (){{' {'}}
                AOS.init();
           {{'}'}}, 1000);
       {{'}'}},

        initNavigation: function (){{' {'}}
            var $nav = jQuery('#nav, #nav2');
            if ($nav.length > 0) $nav.navTabDoubleTap();
       {{'}'}},

        initBurgerMenu: function (){{' {'}}
            jQuery('.burger-menu').on('click', function (e){{' {'}}
                e.preventDefault();
                if (jQuery(this).hasClass('is-open')){{' {'}}
                    jQuery(this).removeClass('is-active');
                    jQuery('.bm-view').removeClass('is-open');
                    jQuery('body').removeClass('is-open');
               {{'}'}} else{{' {'}}
                    jQuery(this).addClass('is-active');
                    jQuery('.bm-view').addClass('is-open');
                    jQuery('body').addClass('is-open');
               {{'}'}}
           {{'}'}});
            jQuery('.bm-drop, .bm-close').on('click', function (e){{' {'}}
                e.preventDefault();
                jQuery('.bm-view').removeClass('is-open');
                jQuery('.bm-btn').removeClass('is-active');
                jQuery('body').removeClass('is-open');
           {{'}'}});
       {{'}'}},

       <div *ngFor="let region of customRegions; let i = index">
        init{{convertToCamelCase(region[1]['keyword_class'])}}: function (){{' {'}}<br>&nbsp;
        //code here<br>&nbsp;
        {{'},'}}
        </div>

   {{'}'}};

    jQuery(document).ready(function (){{' {'}}
    <div *ngFor="let region of customRegions; let i = index">
        app.init{{convertToCamelCase(region[1]['keyword_class'])  }}();<br>
    </div>
   {{'}'}});

    jQuery(window).on('scroll', function (){{' {'}}});

    jQuery(window).on('load', function (){{' {'}}});

    jQuery(window).on('resize', function (){{' {'}}});
    {{'}'}})();
