<div class="comp-region-container">
    <div class="default-regions">
        <h4>Default Regions</h4>
        <form [formGroup]="form" (ngSubmit)="moveToCustomRegions()" class="form-regions">
            <label class="checkbox-container" formArrayName="defaultRegions" *ngFor="let region of defaultRegionsObject; let i = index">
                {{region[0] }}
                <input type="checkbox" [formControlName]="i">
                <span class="checkmark"></span>
            </label>

            <div *ngIf="!form.valid" class="alert alert-danger" role="alert">
                At least one region must be selected
            </div>
            <br>
            <button class="btn btn-primary" [disabled]="!form.valid">Move to custom Regions</button>
        </form>
    </div>
    <div class="custom-regions">
        <h4>Custom Regions</h4>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="comp-custom-regions-container" *ngFor="let customRegion of customRegions;" cdkDrag>
                <div class="custom-region-item">
                    <i class="fa fa-sort" aria-hidden="true"> </i>
                    {{customRegion[0]}}
                </div>
            </div>
        </div>
    </div>
</div>