
<div class="comp-region-container">
    <div class="default-regions">
        <h3>Default Regions</h3>
        <form [formGroup]="form" (ngSubmit)="moveToCustomRegions()" class="form-regions">
            <label formArrayName="defaultRegions" *ngFor="let region of defaultRegionsFormArray.controls; let i = index">
                <input type="checkbox" [formControlName]="i">
                {{defaultRegions[i].region_name}}
            </label>

            <div  *ngIf="!form.valid" class="alert alert-danger" role="alert">
                At least one order must be selected
              </div>
            <br>
            <button class="btn btn-primary" [disabled]="!form.valid">Move to custom Regions</button>
        </form>
    </div>
    <div class="custom-regions">
        <h3>Custom Regions</h3>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="comp-custom-regions-container" *ngFor="let customRegion of customRegions" cdkDrag>
                <div class="custom-region-item">
                    <i class="fa fa-sort" aria-hidden="true"> </i>
                    {{customRegion.region_name}}
                </div>
            </div>
        </div>
    </div>
</div>


