<div class="comp-region-container">
    <div class="default-regions">
        <h4>Default Regions</h4>
        <form [formGroup]="form" (ngSubmit)="moveToCustomRegions()" class="form-regions">
            <div *ngFor="let region of defaultRegionsObject; let i = index" class="item-region">
                <label class="checkbox-container" formArrayName="defaultRegions" >
                    {{region[0] }}
                    <input type="checkbox" [formControlName]="i">
                    <span class="checkmark"></span>
                </label>
                <span class="fa fa-edit" (click)="openRegionModal(templateRegionModal, region)"></span>

            </div>

            <div *ngIf="!form.valid" class="alert alert-danger" role="alert">
                At least one region must be selected
            </div>
            <br>
            <button class="btn btn-primary" [disabled]="!form.valid">Move to custom Regions</button>
        </form>
    </div>
    <div class="custom-regions">
        <h4>Custom Regions</h4>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="comp-custom-regions-container" *ngFor="let customRegion of customRegions;" cdkDrag>
                <div class="custom-region-item">
                    <i class="fa fa-sort" aria-hidden="true"> </i>
                    {{customRegion[0]}} ({{customRegion[1]['keyword_class']}})
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateRegionModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Region</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form action="" class="edit-region-form">
            <div class="form-group">
                <label for="newRegion">New Region Name</label>
                <input type="text" [(ngModel)]="newRegionName" placeholder="{{ selectedRegionClassName }}" name="newRegion" id="">
            </div>
        </form>
        <div class="modal-cta-container">
            <button class="btn btn-primary" (click)="editRegion()" >Save</button>
            <button class="btn btn-primary" (click)="modalRef.hide()" >Cancel</button>
        </div>
    </div>
  </ng-template>