
.region-content {
    min-height: 100px;
    border: solid 2px gray;
    margin-bottom: 24px;
    padding: 24px;
    position: relative;
    &::before {
        content: " ";
        position: absolute;
        width: 2px;
        height: calc(100% - 118px);
        top: 63px;
        background: #dedede;
        left: 29px;
    }
    .panel {
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 2px #dedede;
        max-width: 400px;
        width: 100%;
        margin-bottom: 12px;
        padding:0 20px;
    }
}
.region-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa {
        font-size: 20px;
        cursor: pointer;
    }
}
.child-container {
    padding-left: 24px;
    .panel {
        position: relative;
        cursor: pointer;
        &::before {
            content: " ";
            position: absolute;
            width: 20px;
            height: 2px;
            top: 50%;
            background: #dedede;
            left: -21px;
            transform: translateY(-50%);
        }
    }
}
.parent-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fa-plus {
        cursor: pointer;
    }
}