<div class="widget-converter-container">
    <div class="widget-form-container">
        <div class="form-widget">
            <h4>HTML</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
            </div>
        </div>
        <div class="form-widget">
            <h4>Converted Widget</h4>
            <div contenteditable="true" class="html-text-input" rows="25" cols="100">
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Convert To Widget</button>
</div>
