<div *ngIf="widget[1]['name'] == 'simple-slick'" class="slick-html-widget">
    &lt;div class="{{ regionClassName }}{{widget[1]['suffixClass']}}"&gt;
    <div *ngFor="let item of [].constructor(slickItem); let i = index">
        <div *ngIf="widget[1]['settings']['contentType']['value'] != 'testimonial'">
            &lt;a href="[blogurl]" aria-label="{{ regionClassName }}" class="{{ regionClassName }}-item"&gt;
            &lt;div class="{{ regionClassName }}-img canvas-wrapper"&gt;
            &lt;canvas width="{{widget[1]["settings"]["image_width"]["value"]}}"
            height="{{widget[1]["settings"]["image_height"]["value"]}}"&gt;&lt;/canvas&gt;
            &lt;img alt="{{ regionClassName }}" class="img-{{ regionClassName }} canvas-img"
            src="&lt;?php echo get_stylesheet_directory_uri() ?&gt;/images/{{ regionClassName }}-{{ i + 1 }}.jpg" /&gt;
            <div *ngIf="widget[1]['settings']['hoverWithImg']['value'] == 'true'">
                &lt;img alt="{{ regionClassName }}-image-hover" class="canvas-img {{ regionClassName }}-image-hover"
                src="&lt;?php echo
                get_stylesheet_directory_uri() ?&gt;/images/{{regionClassName }}-img-hover.jpg"&gt;
            </div>
            &lt;/div&gt;
            &lt;div class="{{ regionClassName }}-content"&gt;
            <!-- Icon -->
            <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
                &lt;span class="ai-font-instagram"&gt;&lt;/span&gt;
            </div>
            <!-- Title -->
            <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
                &lt;h3&gt;EzekSayson&lt;/h3&gt;
            </div>

            <!-- Title + Content " -->
            <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title-content'">
                &lt;h3&gt;EzekSayson&lt;/h3&gt;
                &lt;p&gt;sample&lt;/p&gt;
            </div>
            <!-- Title + Content -->
            <!-- Listings " -->
            <div *ngIf="widget[1]['settings']['contentType']['value'] == 'listings'">
                &lt;h3&gt;$62,000,000&lt;/h3&gt;
                &lt;p&gt;1700 East Walnut Avenue &lt;br&gt; El Segundo, CA 90245&lt;/p&gt;
                &lt;div class="bbs"&gt;
                &lt;span&gt;4 Beds&lt;/span&gt;
                &lt;span&gt;4 Baths&lt;/span&gt;
                &lt;span&gt;2,730 SqFt.&lt;/span&gt;
                &lt;/div&gt;
                &lt;span class="site-btn"&gt;View More&lt;/span&gt;
            </div>
            <!-- Listings -->

            &lt;/div&gt;
            &lt;/a&gt;
        </div>


        <!-- Testimonial -->
        <div *ngIf="widget[1]['settings']['contentType']['value'] == 'testimonial'">
            &lt;div class="{{ regionClassName }}-content"&gt;
            &lt;span class="quote"&gt;“&lt;/span&gt;
            &lt;p&gt;“sample“ &lt;/p&gt;
            &lt;h3&gt;Ezeksayson&lt;/h3&gt;
            &lt;/div&gt;
        </div>
    </div>

    &lt;/div&gt;
    <!-- Custom Arrow -->
    <div *ngIf="widget[1]['settings']['customArrow']['value'] == 'true'">
        &lt;div class="{{ regionClassName }}-arrow"&gt;
        &lt;div class="prev"&gt;
        &lt;img alt="arrow" class="img-responsive" src="&lt;?php echo get_stylesheet_directory_uri() ?&gt;/images/{{
        regionClassName }}-prev.png"&gt;
        &lt;span&gt;Prev&lt;/span&gt;
        &lt;/div&gt;
        <div *ngIf="widget[1]['settings']['customArrowWithButton']['value'] == 'true'">
            &lt;div class="site-btn"&gt;
            &lt;a href="[blogurl]" aria-label="VIEW ALL {{ regionClassName }}"&gt;VIEW ALL {{ regionClassName }}
            &lt;/a&gt;
            &lt;/div&gt;
        </div>
        &lt;div class="next"&gt;
        &lt;span&gt;Next&lt;/span&gt;
        &lt;img alt="arrow" class="img-responsive" src="&lt;?php echo get_stylesheet_directory_uri() ?&gt;/images/{{
        regionClassName }}-next.png"&gt;
        &lt;/div&gt;
        &lt;/div&gt;
    </div>
    <!-- Arrow -->
    <div *ngIf="widget[1]['settings']['arrows']['value'] == 'true'">
        &lt;div class="{{ regionClassName }}-arrow"&gt;
        &lt;span class="ai-font-arrow-h-p prev"&gt;&lt;/span&gt;
        <div *ngIf="widget[1]['settings']['arrowsWithButton']['value'] == 'true'">
            &lt;div class="site-btn"&gt;
            &lt;a href="[blogurl]" aria-label="VIEW ALL {{ regionClassName }}"&gt;VIEW ALL {{ regionClassName }}
            &lt;/a&gt;
            &lt;/div&gt;
        </div>
        &lt;span class="ai-font-arrow-h-n next"&gt;&lt;/span&gt;
        &lt;/div&gt;
    </div>
</div>