<div *ngIf="widget[1]['name'] == 'welcome-content'" class="welcome-content">
  <pre>  &lt;div class="welcome-primary-section"&gt;
  &lt;img alt="agent" class="img-responsive"
  src="<?php echo get_stylesheet_directory_uri() ?>/images/welcome-agent.png" /&gt;
  &lt;/div&gt;
  &lt;div class="welcome-secondary-section"&gt;
  &lt;div class="site-title"&gt;
  &lt;h3&gt;Alt&lt;/h3&gt;
  &lt;h2&gt;Coins&lt;/h2&gt;
  &lt;/div&gt;
  &lt;p&gt;Welcome&lt;/p&gt;
  &lt;a href="[blogurl]" aria-label="READ MORE" class="site-btn"&gt;READ MORE&lt;/a&gt;
  &lt;/div&gt;</pre>
</div>