<div *ngIf="widget[1]['name'] == 'quick-search'">
  var $rangeslider = jQuery('.qs-range-field #qs-range'),
  $minPrice = jQuery('.qs-range-field .selected-min-price'),
  $maxPrice = jQuery('.qs-range-field .selected-max-price');

  jQuery('.qs-range-field #qs-range').ionRangeSlider({{ " {" }}
  type: 'double',
  min: 1,
  max: 10,
  from: 1,
  to: 10,
  hide_min_max: true,
  hide_from_to: true,
  onFinish: function () {{ " {" }}
  }
  });

  $rangeslider.on("change", function () {{ " {" }}
  var $this = jQuery(this),
  value = $this.prop("value").split(";");



  _minPrice = (value[0] < 1 ? value[0] : value[0] + 'M' ); _maxPrice=(value[1] < 1 ? value[1] : value[1] + 'M' );
    $minPrice.text('$' + _minPrice); $maxPrice.text('$' + _maxPrice); _maxPrice=(parseInt(_maxPrice) * 1000000);
    _minPrice=(parseInt(_minPrice) * 1000000); $minPrice.val(convertPrice(_minPrice));
    $maxPrice.val(convertPrice(_maxPrice)); jQuery('#min_price').val(_minPrice); jQuery('#max_price').val(_maxPrice);
    }); function convertPrice (price) {{ " {" }} return Math.abs(Number(price))>= 1.0e+9
    ? Math.abs(Number(price)) / 1.0e+9 + "B"
    : Math.abs(Number(price)) >= 1.0e+6
    ? Math.abs(Number(price)) / 1.0e+6 + "M"
    : Math.abs(Number(price)) >= 1.0e+3
    ? Math.abs(Number(price)) / 1.0e+3 + "K"
    : Math.abs(Number(price));
    }
</div>