<div *ngIf="widgetType == 'gallery-image'" class="gallery-image-widget">
  &lt;div class="{{ regionClassName }}-{{ widgetType
  }}{{ widget[1]["suffix"] }}"&gt;
  <div *ngFor="let item of [].constructor(galleryItem); let i = index">
    &lt;a href="[blogurl]" aria-label="{{ regionClassName }}-image"
    class="{{regionClassName}}-item canvas-wrapper"&gt; &lt;canvas width="{{
    widget[1]["settings"]["image_width"]["value"]}}"
    height="{{widget[1]["settings"]["image_height"]["value"]}}"&gt;&lt;/canvas&gt; &lt;img
    alt="{{regionClassName}}-image" class="canvas-img" src="
    <?php echo get_stylesheet_directory_uri() ?>/images/{{regionClassName}}-{{ i + 1 }}.jpg"&gt;
    &lt;/a&gt;
  </div>
  &lt;/div&gt;
</div>