<div *ngIf="widgetType == 'gallery-image'" class="gallery-image-widget">
  &lt;div class="{{ regionClassName }}-{{ widgetType
  }}{{ widget[1]["suffix"] }}"&gt;
  <div *ngFor="let item of [].constructor(galleryItem); let i = index">
    &lt;a href="[blogurl]" aria-label="{{ regionClassName }}-item" class="{{
      regionClassName
    }}-item"&gt; &lt;div class="{{ regionClassName }}-img canvas-wrapper"&gt;
    &lt;canvas width="{{ imageWidth }}" height="{{
      imageHeight
    }}"&gt;&lt;/canvas&gt; &lt;img alt="{{ regionClassName }}-image"
    class="canvas-img img-responsive lazyload" src="<?php echo get_stylesheet_directory_uri() ?>/images/{{
      regionClassName
    }}-{{ i + 1 }}.{{ imageType }}" /&gt;
    <div *ngIf="hoverWithImgLogo == 'true'">
      &lt;img alt="{{ regionClassName }}-image" class="canvas-img img-responsive
      lazyload {{ regionClassName }}-image-hover" src="<?php echo get_stylesheet_directory_uri() ?>/images/{{
        regionClassName
      }}-image-hover.{{ imageType }}" /&gt;
    </div>
    &lt;/div&gt;
    <!-- Image end -->
    <div *ngIf="contentType != 'none'">
      &lt;div class="{{ regionClassName }}-details"&gt;
      <div *ngIf="contentType == 'icon'">
        &lt;span class="ai-font-instagram"&gt;&lt;/span&gt;
      </div>
      <div *ngIf="contentType == 'title'">&lt;em&gt;Ezeksayson &lt;/em&gt;</div>
      <pre>
        <div *ngIf="contentType == 'title-content'">
          &lt;em&gt;Meet&lt;/em&gt;
           &lt;span&gt;Ezeksayson&lt;/span&gt;
        </div>
      </pre>
      &lt;/div&gt;
    </div>
    <!-- Details End -->
    &lt;/a&gt;
  </div>
  &lt;/div&gt;
</div>
