<pre>
<div *ngIf="widget[1]['name'] == 'elementPeek'" class="elementPeek-html-widget">
  &lt;div class="{{ regionClassName }}-content"&gt;
  &lt;div class="{{ regionClassName }}-item"&gt;
  &lt;em&gt;Top &lt;span class="count"&gt;4&lt;/span&gt;&lt;/em&gt;
  &lt;p&gt;Silicon Valley&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="{{ regionClassName }}-item"&gt;
  &lt;em&gt;&lt;span class="count"&gt;100&lt;/span&gt;%&lt;/em&gt;
  &lt;p&gt;Indivindual Agent&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="{{ regionClassName }}-item"&gt;
  &lt;em&gt;Top &lt;span class="count"&gt;20&lt;/span&gt;&lt;/em&gt;
  &lt;p&gt;Realtors in San Juan&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="{{ regionClassName }}-item"&gt;
  &lt;em&gt;Top &lt;span class="count"&gt;1&lt;/span&gt; %&lt;/em&gt;
  &lt;p&gt;Nationwide&lt;/p&gt;
  &lt;/div&gt;
  &lt;/div&gt;
</div>
</pre>