<div *ngIf="widget[1]['name'] == 'quick-search'">
    .quick-search-form {{ " {" }}
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    max-width: {{widget[1]["settings"]["qs_form_max_width"]["value"]}};
    margin: 0 auto;
    gap: 2px;
    align-items: center;

    }
    <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 1"'>
        <div *ngFor="
  let setting of RegionsService.converObjectToArray(
      widget[1]['settings']
  );
  let i = index
  ">
            <div *ngIf="setting[1]['html_only'] && setting[1]['value']  == 'true'">
                .{{ resetCounter(i)}}-qs-item {{ " {" }}
                grid-column: {{ setting[1]['selectTextValues']['column'] }};
                }

            </div>
        </div>


    </div>

    <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 2"'>

        .quick-search-form .site-title-primary {{ " {" }}
        grid-column: {{widget[1]["settings"]["site_title"]["selectTextValues"]["column"]}};
        }

        .quick-search-form .qs-field-wrapper {{ " {" }}
        grid-column: 32/-1;
        }

        .qs-field-wrapper {{ " {" }}
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: repeat(2, auto);
        width: 100%;
        row-gap: 18px;
        }
    </div>
</div>