<div *ngIf="widget[1]['name'] == 'simple-slick'" class="slick-css-widget">
    <div *ngIf="widget[1]['settings']['asNaV']['value'] != 'true'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}{{widget[1]["suffixClass"]}} {{ "
        {"
        }}
        max-width: {{widget[1]["settings"]["slick_max_width"]["value"]}};
        margin: 0 auto;
        }



        .hp-{{ regionData[1]["keyword_class"] }} .slick-list {{ " {" }}
        margin: 0 -{{widget[1]['settings']['slickColumnGap']['value']}};
        }

        .hp-{{ regionData[1]["keyword_class"] }} .slick-slide {{ " {" }}
        margin: 0 {{widget[1]['settings']['slickColumnGap']['value']}};
        }

    </div>

    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item {{ " {" }}
    position: relative;
    display: block !important;
    }

    .hp-{{ regionData[1]["keyword_class"] }} .slick-slide > div:not(:last-child) {{ " {" }}
    margin-bottom: {{widget[1]['settings']['slickRowGap']['value']}};
    }

    <!-- Arrows -->
    <div
        *ngIf="widget[1]['settings']['arrows']['value'] == 'arrows' || widget[1]['settings']['arrows']['value'] == 'arrowsWithButton'; else noArrow">
        .{{ regionData[1]["keyword_class"] }}-slick-arrow {{' {'}}
        cursor: pointer;
        color: #05234b;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        .{{ regionData[1]["keyword_class"] }}-slick-arrow .site-btn {{' {'}}
        margin: 0 34px;
        background: #fff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .{{ regionData[1]["keyword_class"] }}-slick-arrow .site-btn:hover {{' {'}}
        background: #fcef21;
        border-color: #fcef21;
        }

        .{{ regionData[1]["keyword_class"] }}-slick-arrow span {{' {'}}
        font-size: 22px;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .{{ regionData[1]["keyword_class"] }}-slick-arrow span:hover {{' {'}}
        opacity: 0.6;
        }

        .{{ regionData[1]["keyword_class"] }}-slick-arrow .site-btn {{' {'}}
        height: 50px;
        width: 190px;
        font-size: 12px;
        }
    </div>
    <!-- Dots -->
    <div *ngIf='widget[1]["settings"]["dots"]["value"] == "true"'>
        /* Dots */

        .slick-dots {{ " {" }}
        position: absolute;
        bottom: -20px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        }

        .slick-dots li {{ " {" }}
        position: relative;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        margin: 0;
        }

        .slick-dots li:hover,
        .slick-dots li:focus {{ " {" }}
        outline: none;
        }

        .slick-dots li:hover:before,
        .slick-dots li:focus:before {{ " {" }}
        opacity: 1;
        }

        .slick-dots button {{ " {" }}
        border: 0;
        background: transparent;
        }

        .slick-dots li:before {{ " {" }}
        font-family: "slick";
        font-size: 40px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "•";
        text-align: center;
        opacity: 1;
        color: #b2b2b2;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }

        .slick-dots li.slick-active:before {{ " {" }}
        opacity: 1;
        color: #ff5601;
        }

        /* Dots end */
    </div>

    <!-- Bottom Gradient overlay  -->
    <div *ngIf="widget[1]['settings']['gradientBottomOverlay']['value'] == 'true'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::before {{ " {" }}
        content: "";
        position: absolute;
        pointer-events: none;

        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;

        /* Permalink - use to edit and share this gradient:
        https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+56,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.65) 100%); /* FF3.6-15
        */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.65) 100%); /*
        Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+,
        FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000',
        endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

        }
    </div>
    <!-- overlay -->
    <div
        *ngIf="widget[1]['settings']['overlay']['value'] == 'not-in-hover' || widget[1]['settings']['overlay']['value'] == 'on-hover' ">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::before {{ " {" }}
        content: "";
        position: absolute;
        background: {{ widget[1]['settings']['overlay']['selectTextValues']['rbga'] }};
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        <div *ngIf="widget[1]['settings']['overlay']['value'] == 'on-hover'">
            opacity: 0;
        </div>
        pointer-events: none;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover .{{
        regionData[1]["keyword_class"] }}-img::before {{ " {" }}
        <div *ngIf="widget[1]['settings']['overlay']['value'] == 'not-in-hover'">
            opacity: 0;
        </div>

        <div *ngIf="widget[1]['settings']['overlay']['value'] == 'on-hover'">
            opacity: 1;
        </div>
        }
    </div>

    <!-- Hover Border -->
    <div *ngIf="widget[1]['settings']['hoverWithBorder']['value'] == 'true'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item::before {{ " {" }}
        border: {{widget[1]['settings']['hoverWithBorder']['selectTextValues']['border']}};
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        pointer-events: none;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        }

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover::before {{ "
        {" }}
        opacity: 1;
        }
    </div>


    <!-- Hover Image Logo -->
    <div *ngIf="widget[1]['settings']['hoverWithImgLogo']['value'] == 'true'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::after {{ " {" }}
        content: "";
        position: absolute;
        background: url(images/communities-logo.png) center no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover .{{
        regionData[1]["keyword_class"] }}-img::after {{ " {" }}
        opacity: 1;
        }
    </div>

    <!-- Replacing Image -->
    <div *ngIf="widget[1]['settings']['hoverWithImg']['value'] == 'true'">
        .{{ regionData[1]["keyword_class"] }}-item .{{ regionData[1]["keyword_class"] }}-image-hover {{ " {" }}
        filter: grayscale(1);
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .{{ regionData[1]["keyword_class"] }}-item:hover .{{ regionData[1]["keyword_class"] }}-image-hover {{ " {" }}
        opacity: 1;
        }
    </div>

    <!-- Gray Scale -->
    <div *ngIf="widget[1]['settings']['grayScaleOnImage']['value'] == 'true'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item img {{ " {" }}
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        }

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover img {{ " {" }}
        filter: grayscale(1);
        }
    </div>
    <!-- Content Position -->
    <div *ngIf="widget[1]['settings']['contentType']['value'] != 'testimonial'">
        <div *ngIf="widget[1]['settings']['contentPosition']['value'] != 'below-image'">
            .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-content {{ " {" }}
            position: absolute;
            width: auto;
            z-index: 4;
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-left'">
                left: 30px;
                bottom: 20px;
            </div>
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-right'">
                right: 30px;
                bottom: 20px;
            </div>
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-center'">
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
            </div>
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'top-left'">
                left: 30px;
                top: 20px;
            </div>
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'top-right'">
                right: 30px;
                top: 20px;
            </div>
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'center'">
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            </div>
            <!-- TODO: fix this -->
            <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'split'">
                right: 30px;
                top: 20px;
            </div>
            }
        </div>
    </div>

    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'testimonial'">
        .hp-testimonials .testimonials-content {{ " {" }}
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    </div>

    <div *ngIf="widget[1]['settings']['contentPosition']['value'] == 'below-image'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-content {{ " {" }}
        margin-top: 18px;
        }
    </div>

    <!-- Content Style -->
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-content h3 {{ " {" }}
    font-size: 26px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #ffc000;
    text-transform: uppercase;
    margin-bottom: 10px;
    }

    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-content p {{ " {" }}
    font-size: 15px;
    color: #ffc000;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    }
</div>