<div *ngIf="widget[1]['name'] == 'quick-search'">
    &lt;div class="quick-search-form"&gt;
    <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 2"'>
        &lt;div class="site-title-primary"&gt;
        &lt;h3&gt;Quick&lt;/h3&gt;
        &lt;h2&gt;Search&lt;/h2&gt;
        &lt;/div&gt;
    </div>
    <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 2"'>
        &lt;div class="qs-field-wrapper"&gt;
    </div>
    <div *ngFor="
                let setting of RegionsService.converObjectToArray(
                    widget[1]['settings']
                );
                let i = index
                ">
        <div *ngIf="setting[1]['html_only'] && setting[1]['value']">
            &lt;div class="{{ resetCounter(i)}}-qs-item" &gt;
            <div *ngIf="setting[1]['selectTextValues']['input_type'] == 'text' && setting[1]['name'] != 'advance'">
                &lt;input type="text"
                placeholder="{{setting[1]['selectTextValues']['placeholder']}}"
                aria-label="qs-fields" /&gt;
            </div>
            <div
                *ngIf="setting[1]['selectTextValues']['input_type'] == 'select' && setting[1]['name'] == 'property type'">
                &lt;select aria-label="qs-fields"&gt;
                &lt;option value="SFR,CND"&gt;House / Condo&lt;/option&gt;
                &lt;option value="SFR"&gt;House Only&lt;/option&gt;
                &lt;option value="CND"&gt;Condo Only&lt;/option&gt;
                &lt;option value="RI"&gt;Multi-Family&lt;/option&gt;
                &lt;option value="COM"&gt;Commercial&lt;/option&gt;
                &lt;option value="LL"&gt;Lots / Land&lt;/option&gt;
                &lt;option value="RI"&gt;Multi-Unit Residential&lt;/option&gt;
                &lt;option value="MH"&gt;Mobile Home&lt;/option&gt;
                &lt;option value="RNT"&gt;Rental&lt;/option&gt;
                &lt;option value="FRM"&gt;Farms&lt;/option&gt;
                &lt;/select&gt;
            </div>
            <div
                *ngIf="setting[1]['selectTextValues']['input_type'] == 'select' && (setting[1]['name'] == 'min_price' || setting[1]['name'] == 'max_price')">
                &lt;select aria-label="qs-fields"&gt;
                &lt;option&gt;$1,000,000&lt;/option&gt;
                &lt;option&gt;$2,000,000&lt;/option&gt;
                &lt;option&gt;$3,000,000&lt;/option&gt;
                &lt;option&gt;$4,000,000&lt;/option&gt;
                &lt;/select&gt;
            </div>
            <div *ngIf="setting[1]['selectTextValues']['input_type'] == 'select' && (setting[1]['name'] == 'beds' ||
            setting[1]['name'] == 'baths')">
                &lt;select aria-label="qs-fields"&gt;
                &lt;option value=""&gt;{{setting[1]['selectTextValues']['placeholder']}}&lt;/option&gt;
                &lt;option value="1"&gt;1+&lt;/option&gt;
                &lt;option value="2"&gt;2+&lt;/option&gt;
                &lt;option value="3"&gt;3+&lt;/option&gt;
                &lt;option value="4"&gt;4+&lt;/option&gt;
                &lt;option value="5"&gt;5+&lt;/option&gt;
                &lt;/select&gt;
            </div>
            <div *ngIf="setting[1]['name'] == 'search' && setting[1]['value'] == 'true'">
                &lt;input class="qs-search" type="submit" value="{{setting[1]['selectTextValues']['placeholder']}}"&gt;
            </div>
            <div
                *ngIf="setting[1]['name'] == 'search' && setting[1]['value'] == 'true' && ['templateType']['value'] == 'Quick Search template 2'">
                &lt;div class="qs-search"&gt;
                &lt;input type="submit" value="{{setting[1]['selectTextValues']['placeholder']}}" aria-label="qs-submit"
                /&gt;
                &lt;/div&gt;
            </div>
            <div *ngIf="setting[1]['name'] == 'advance' && setting[1]['value'] == 'true'">
                &lt;a href="[blogurl]" class="qs-advanced" aria-label="advanced"&gt;Advanced&lt;/a&gt;
            </div>
            <div
                *ngIf="setting[1]['name'] == 'advance' && setting[1]['value'] == 'true' && ['templateType']['value'] == 'Quick Search template 2'">
                &lt;div class="qs-advanced"&gt;
                &lt;a href="[blogurl]" aria-label="qs-btn"&gt;
                &lt;span&gt;Advanced&lt;/span&gt;
                &lt;/a&gt;
                &lt;/div&gt;
            </div>
            &lt;/div&gt;
        </div>
    </div>
    <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 2"'>
        &lt;/div&gt;
    </div>
    &lt;/div&gt;
</div>