<pre>
<div *ngIf="widget[1]['name'] == 'quick-search'">
  <div *ngIf="widget[1]['settings']['templateType']['value'] != 'Quick Search template 3 (floating)' ">
    .quick-search-form select,
    .quick-search-form input {{ " {" }}
    border: 0;
    <div *ngIf='widget[1]["settings"]["input_style"]["value"] == "full-border"'>
      border: 1px solid #d0cece;
    </div>
    <div *ngIf='widget[1]["settings"]["input_style"]["value"] == "border-bottom"'>
      border-bottom: 1px solid #d0cece;
    </div>
    }

    .hp-quick-search .quick-search-form select {{ " {" }}
    background: transparent url(images/arrow-down.png) no-repeat scroll right 12px
    center;
    }
  </div>



  .hp-quick-search {{ " {" }}
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  margin-bottom: 92px;
  font-size: 0;
  z-index: 5;
  }

  .hp-quick-search p {{ " {" }}
  text-align: right;
  font-size: 11px;
  color: #666666;
  letter-spacing: 0.075em;
  font-weight: 300;
  max-width: 1180px;
  margin: 0 auto;
  }

  .hp-quick-search .region-quick-search-container {{ " {" }}
  background: #ffc000;
  padding: 42px 0 50px;
  }

  .hp-quick-search .site-title-primary h3 {{ " {" }}
  font-size: 35px;
  margin-bottom: 6px;
  }

  .hp-quick-search .site-title-primary h2 {{ " {" }}
  font-size: 32px;
  letter-spacing: 0.05em;
  }

  .hp-quick-search .quick-search-form {{ " {" }}
  margin-bottom: 20px;
  padding: 0 24px;
  }

  .quick-search-form select,
  .quick-search-form input {{ " {" }}
  width: 100%;
  height: 44px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  font-size: 11px;
  font-weight: 300;
  color: #777777;
  background: transparent;
  cursor: pointer;
  padding-left: 14px;
  }


  .quick-search-form select option {{ " {" }}
  color: #ffffff;
  background: #000;
  }

  .qs-search,
  .qs-advanced  {{ " {" }}
  background: #1092b2;
  position: relative;
  width: 100%;
  min-height: 44px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 00.2em;
  font-size: 11px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  }

  .qs-search input {{ " {" }}
  color: #ffffff;
  padding: 0;
  }

  .qs-search:hover {{ " {" }}
  background: #50c4cb;
  }

  .qs-advanced:hover {{ " {" }}
  background: #1092b2;
  }

  .qs-search input {{ " {" }}
  background: transparent;
  border: none;
  text-transform: uppercase;
  letter-spacing: 00.2em;
  }

  .qs-search input,
  .qs-advanced a {{ " {" }}
  letter-spacing: 00.2em;
  }

  .qs-search input:hover,
  .qs-advanced a:hover {{ " {" }}
  color: #ffffff !important;
  }

  <div *ngIf='widget[1]["settings"]["templateType"]["value"] == "Quick Search template 2"'>

    <div *ngFor="
  let setting of RegionsService.converObjectToArray(
      widget[1]['settings']
  );
  let i = index
  ">
      <div *ngIf="setting[1]['html_only'] &&  setting[1]['value'] == 'true'">
        .{{ resetCounter(i)}}-qs-item {{ " {" }}
        grid-column: {{ setting[1]['selectTextValues']['column'] }};
        }


      </div>

    </div>

    .quick-search-form .qs-range-price-wrap {{ " {" }}
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    }

    .quick-search-form .selected-price {{ " {" }}
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    }

    .quick-search-form .irs--flat .irs-bar,
    .quick-search-form .irs--flat .irs-line {{ " {" }}
    height: 1px !important;
    background: #fff !important;
    top: 22px !important;
    }

    .quick-search-form .irs--flat .irs-handle {{ " {" }}
    width: 14px !important;
    height: 14px !important;
    top: 15px !important;
    }

    .quick-search-form .irs--flat .irs-handle > i:first-child {{ " {" }}
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    left: 0 !important;
    background: #fff !important;
    }
  </div>

  <div *ngIf="widget[1]['settings']['templateType']['value'] == 'Quick Search template 3 (floating)' ">
    .region-slideshow-container .slide-content {{ " {" }}
    position: absolute;
    width: 100%;
    bottom: 148px;
    left: 0;
    z-index: 3;
    }

    .region-slideshow-container .slide-form-wrapper {{ " {" }}
    position: relative;
    padding: 0 24px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    }

    .region-slideshow-container .slide-form-wrapper .slide-form {{ " {" }}
    position: relative;
    }

    .region-slideshow-container .slide-form-wrapper .form-md.floating-pad-top {{ " {" }}
    position: relative;
    padding-bottom: 14px;
    }

    .region-slideshow-container .slide-form-wrapper .form-md input {{ " {" }}
    border: none;
    font-size: 12px;
    padding-left: 22px;
    color: #ffffff;
    letter-spacing: 00.08em;
    padding-right: 74px;
    background: rgba(0, 0, 0, 0.28);
    height: 70px;
    width: 100%;
    }

    .region-slideshow-container .slide-form-wrapper p {{ " {" }}
    text-align: right;
    color: #ffffff;
    }

    .region-slideshow-container .slide-form-btn {{ " {" }}
    background: #ffc000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 70px;
    width: 100%;
    max-width: 78px;
    }

    .region-slideshow-container .slide-form-btn input {{ " {" }}
    font-size: 0;
    position: relative;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    max-width: 72px;
    min-height: 58px;
    z-index: 1;
    background: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }

    .region-slideshow-container .slide-form-btn span {{ " {" }}
    color: #ffffff;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    }

    .region-slideshow-container .slide-form-btn:hover span {{ " {" }}
    color: #1092b2;
    }
  </div>
</div>

</pre>