.hp-{{ region[1]["keyword_class"] }} {{ " {" }}
padding:
<div
  *ngFor="
    let cssProperties of RegionsService.converObjectToArray(
      region[1]['grid_setting']
    );
    trackBy: PageService.indexTracker
  "
>
  <div *ngIf="cssProperties[1]['paddingEnable'] == 'true'">
    {{ cssProperties[1]["value"] }}
  </div>
</div>
; } .region-{{ region[1]["keyword_class"] }}-container {{ " {" }}
<div
  *ngFor="
    let cssProperties of RegionsService.converObjectToArray(
      region[1]['grid_setting']
    );
    trackBy: PageService.indexTracker
  "
>
  <div *ngIf="cssProperties[1]['paddingEnable'] != 'true'">
    {{ cssProperties[1]["name"] }}: {{ cssProperties[1]["value"] }};
  </div>
</div>
margin: 0 auto; }
