<pre>
  <div *ngIf="widget[1]['name'] == 'gallery-image'" class="gallery-image-container">
    .{{ regionData[1]["keyword_class"] }}-item {{ " {" }}

    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    }
   
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::before,
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::after  {{ " {" }}
      content: "";
      position: absolute;
      pointer-events: none;
      inset:0;
      z-index: 1;

      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }
    <div *ngIf="gradientBottomOverlay == 'true'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::before {{ " {" }}
      /* Permalink - use to edit and share this gradient:
      https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+56,0.65+100 */
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0.65) 100%); /* FF3.6-15
      */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.65) 100%); /*
      Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+,
      FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000',
      endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      }
    </div>
    <!-- overlay -->
    <div
      *ngIf="overlay == 'not-in-hover' || overlay == 'on-hover' ">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::after {{ " {" }}
      background: {{ widget[1]['settings']['overlay']['selectTextValues']['rbga'] }};
      <div *ngIf="overlay == 'on-hover'">
        opacity: 0;
      </div>
      }
  
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover .{{
      regionData[1]["keyword_class"] }}-img::after {{ " {" }}
      <div *ngIf="overlay == 'not-in-hover'">
        opacity: 0;
      </div>
  
      <div *ngIf="overlay == 'on-hover'">
        opacity: 1;
      </div>
      }
    </div>

    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item::before,
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item::after {{ " {" }}
      content: "";
      position: absolute;
      pointer-events: none;
      inset:0;  
      z-index: 2;

       -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }
  
    <!-- Hover Border -->
    <div *ngIf="hoverWithBorder == 'true'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item::before {{ " {" }}
      border: {{widget[1]['settings']['hoverWithBorder']['selectTextValues']['border']}};
      opacity: 0;
      }
  
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover::before {{ "
      {" }}
      opacity: 1;
      }
    </div>
  
  
    <!-- Hover Image Logo -->
    <div *ngIf="hoverWithImgLogo == 'true'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-img::after {{ " {" }}
      background: url(images/communities-logo.png) center no-repeat;
      background-size: contain;
      inset: initial;

      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      opacity: 0;
      }
  
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover .{{
      regionData[1]["keyword_class"] }}-img::after {{ " {" }}
      opacity: 1;
      }
    </div>
  
    <!-- Replacing Image -->
    <div *ngIf="hoverWithImg == 'true'">
      .{{ regionData[1]["keyword_class"] }}-item .{{ regionData[1]["keyword_class"] }}-image-hover {{ " {" }}
      filter: grayscale(1);
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      }
  
      .{{ regionData[1]["keyword_class"] }}-item:hover .{{ regionData[1]["keyword_class"] }}-image-hover {{ " {" }}
      opacity: 1;
      }
    </div>
  
    <!-- Gray Scale -->
    <div *ngIf="grayScaleOnImage == 'true'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item .{{ regionData[1]["keyword_class"] }}-img img {{ " {" }}
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      }
  
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item:hover .{{ regionData[1]["keyword_class"] }}-img img {{ " {" }}
      filter: grayscale(1);
      }
    </div>
  
  
  <!-- Content Position -->
    <div *ngIf="contentPosition != 'below-image'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-details {{ " {" }}
        position: absolute;
        width: auto;
        z-index: 4;
        <div *ngIf="contentPosition == 'bottom-left'">
            left: 30px;
            bottom: 20px;
        </div>
        <div *ngIf="contentPosition == 'bottom-right'">
            right: 30px;
            bottom: 20px;
        </div>
        <div *ngIf="contentPosition == 'bottom-center'">
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
        </div>
        <div *ngIf="contentPosition == 'top-left'">
            left: 30px;
            top: 20px;
        </div>
        <div *ngIf="contentPosition == 'top-right'">
            right: 30px;
            top: 20px;
        </div>
        <div *ngIf="contentPosition == 'center'">
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        </div>
        }
    </div>

    <div *ngIf="contentPosition == 'below-image'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-details {{ " {" }}
        margin-top: 18px;
        }
    </div>

    <!-- Content Type -->
    <div *ngIf="contentType == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-details span {{ " {" }}
        color: #fff;
        font-size: 23px;
    }
    </div>
      <div *ngIf="contentType == 'title'">
        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-details em {{ " {" }}
        display: block;
        text-transform: uppercase;

        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: #ffc000;
        margin-bottom: 10px;
        }
    </div>
    <!-- Title Content Style -->
    <div *ngIf="contentType == 'title-content'">

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-details em {{ " {" }}
              display: block;
              font-style: normal;
              text-transform: uppercase;
              
              font-weight: 700;
              font-size: 26px;
              letter-spacing: 0.1em;
              color: #ffc000;
              margin-bottom: 10px;
          }

        .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-content span {{ " {" }}
          font-size: 15px;
          color: #ffc000;
          letter-spacing: 0.1em;
          margin-bottom: 10px;
          }
    </div>

   
  </div>
</pre>
