<div *ngIf="widget[1]['name'] == 'gallery-image'" class="gallery-image-container">
  .{{ regionData[1]["keyword_class"] }}-gallery-image-container

  {{ " {" }}
  <div *ngFor="
      let css of RegionsService.converObjectToArray(widget[1]['settings']);
      trackBy: PageService.indexTracker
    ">
    <div *ngIf="css[1]['cssOnly'] == true">
      {{ css[1]["name"] }}: {{ css[1]["value"] }};
    </div>
  </div>
  }

  .{{ regionData[1]["keyword_class"] }}-image {{ " {" }}
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  cursor: pointer;
  }


  .{{ regionData[1]["keyword_class"] }}-image::before {{ " {" }}
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  }

  .{{ regionData[1]["keyword_class"] }}-image:hover::before {{ " {" }}
  opacity: 1;
  }
  <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    color: #fff;
    position: absolute;
    font-size: 23px;
    z-index: 1;
    }
  </div>


  <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    position: absolute;
    letter-spacing: 0.01em;
    z-index: 1;
    }
  </div>

  <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title-content'">
    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item .{{
    regionData[1]["keyword_class"] }}-details {{ " {" }}
    position: relative;
    z-index: 1;
    }

    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item .{{
    regionData[1]["keyword_class"] }}-details h3 {{ " {" }}
    color: #ffbE19;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 16px;
    }

    .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-item .{{
    regionData[1]["keyword_class"] }}-details p {{ " {" }}
    color: #ffbE19;
    font-size: 16px;
    margin-bottom: 32px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-left' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    left: 15px;
    bottom: 15px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-right' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    right: 15px;
    bottom: 15px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'bottom-center' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'center' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'top-left' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    left: 15px;
    top: 15px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'top-right' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    right: 15px;
    top: 15px;
    }
  </div>

  <div
    *ngIf="widget[1]['settings']['contentPosition']['value'] == 'below-image' && widget[1]['settings']['contentType']['value'] != 'title-content'">
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'icon'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image span {{ " {" }}
    </div>
    <div *ngIf="widget[1]['settings']['contentType']['value'] == 'title'">
      .hp-{{ regionData[1]["keyword_class"] }} .{{ regionData[1]["keyword_class"] }}-image h3 {{ " {" }}
    </div>
    position: relative;
    right: 15px;
    top: 15px;
    }
  </div>
</div>