<div class="slick-js-widget" *ngIf="widget[1]['name'] == 'simple-slick'">
    var sectionSlick = '{{ region[1]['keyword_class'] }}{{ widget[1]['suffixClass'] }}';
    $(sectionSlick).slick({{' {'}}
    slidesToShow: {{ widget[1]['settings']['slidesToShow']['value'] }},
    dots: {{ widget[1]['settings']['dots']['value'] }},
    autoplay: {{ widget[1]['settings']['autoplay']['value'] }},
    arrows: {{ widget[1]['settings']['arrows']['value'] }},
    prevArrow: '&lt;span class="ai-font-arrow-g-p slick-prev"&gt;&lt;/span&gt;',
    nextArrow: '&lt;span class="ai-font-arrow-g-n slick-next"&gt;&lt;/span&gt;',
    rows: {{this.widget[1]['settings']['slickRow']['value']}},
    focusOnSelect: true,
    responsive: [
    {{' {'}}
    breakpoint: 992,
    settings: {{' {'}}
    slidesToShow: {{ widget[1]['settings']['slidesToShowTablet']['value'] }},
    },
    },
    {{' {'}}
    breakpoint: 768,
    settings: {{' {'}}
    slidesToShow: {{ widget[1]['settings']['slidesToShowMobile']['value'] }},
    },
    },
    ],
    });
</div>