<div class="slick-js-widget" *ngIf="widget[1]['name'] == 'simple-slick'">
    var sectionSlick = '.{{ region[1]['keyword_class'] }}{{ widget[1]['suffixClass'] }}';
    <div *ngIf="widget[1]['settings']['asNaV']['value'] == 'true'">
        var asNavsectionSlick = '.{{ region[1]['keyword_class'] }}{{ widget[1]['suffixClass'] }}-body';
    </div>
    $(sectionSlick).slick({{' {'}}
    slidesToShow: {{ widget[1]['settings']['slidesToShow']['value'] }},
    slideToScroll: 1,
    infinite: true,
    dots: {{ widget[1]['settings']['dots']['value'] }},
    autoplay: {{ widget[1]['settings']['autoplay']['value'] }},
    autoplaySpeed: {{ widget[1]['settings']['autoplaySpeed']['value'] }},
    arrows: {{ widget[1]['settings']['arrows']['value'] }},
    <div *ngIf="widget[1]['settings']['arrows']['value'] == 'true'">
        prevArrow: '.hp-{{ regionData[1]["keyword_class"] }} .prev',
        nextArrow: '.hp-{{ regionData[1]["keyword_class"] }} .next',
    </div>
    <div *ngIf="widget[1]['settings']['asNaV']['value'] == 'true'">
        asNavFor: asNavsectionSlick,
    </div>
    <div *ngIf="widget[1]['settings']['asNaV']['value'] != 'true'">
        rows: {{this.widget[1]['settings']['slickRow']['value']}},
        responsive: [
        {{' {'}}
        breakpoint: 992,
        settings: {{' {'}}
        slidesToShow: {{ widget[1]['settings']['slidesToShowTablet']['value'] }},
        },
        },
        {{' {'}}
        breakpoint: 768,
        settings: {{' {'}}
        slidesToShow: {{ widget[1]['settings']['slidesToShowMobile']['value'] }},
        },
        },
        ],


    </div>
    });
    <!-- As Nav -->
    $(asNavsectionSlick).slick({{' {'}}
    slidesToShow: {{ widget[1]['settings']['slidesToShow']['value'] }},
    slideToScroll: 1,
    infinite: true,
    dots: {{ widget[1]['settings']['dots']['value'] }},
    autoplay: {{ widget[1]['settings']['autoplay']['value'] }},
    autoplaySpeed: {{ widget[1]['settings']['autoplaySpeed']['value'] }},
    arrows: {{ widget[1]['settings']['arrows']['value'] }},
    <div *ngIf="widget[1]['settings']['asNaV']['value'] == 'true'">
        asNavFor: sectionSlick,
    </div>
    <div *ngIf="widget[1]['settings']['asNaV']['value'] != 'true'">
        rows: {{this.widget[1]['settings']['slickRow']['value']}},
        responsive: [
        {{' {'}}
        breakpoint: 992,
        settings: {{' {'}}
        slidesToShow: {{ widget[1]['settings']['slidesToShowTablet']['value'] }},
        },
        },
        {{' {'}}
        breakpoint: 768,
        settings: {{' {'}}
        slidesToShow: {{ widget[1]['settings']['slidesToShowMobile']['value'] }},
        },
        },
        ],
    </div>
    });


</div>